<ion-tabs class="tabs-icon-top tabs-color-positive">
  <ion-tab title="Requests" icon-off="ion-person-add" icon-on="ion-person-add" href="#/tab/requests">
    <ion-nav-view name="admin-requests"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Users" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/users">
    <ion-nav-view name="admin-users"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Reports" icon-off="ion-document" icon-on="ion-document-text" href="#/tab/reports">
    <ion-nav-view name="admin-reports"></ion-nav-view>
  </ion-tab>
</ion-tabs>
