<ion-view title="Login" hide-nav-bar="true" cache-view="false" nav-transition="none" id="page3">
  <ion-content padding="true" style="background: url(img/EKFtPCGiSAepGF5hCI5w_slider-2.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding" scroll="false">
    <div ng-if="error" style="text-align:center;" class="show-list-numbers-and-dots error-box">
      <p style="color:#FFFFFF;">{{error}}</p>
    </div>
    <form id="login-form2" class="list center-form">
      <div>
        <img src="img/5xKo1FwMRdCm3jJyrK0w_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 300px; height: 12px;"></div>
      <ion-list id="login-list2">
        <label class="item item-input top-input" id="login-input9">
          <input type="email" placeholder="Email">
        </label>
        <label class="item item-input bottom-input" id="login-input5">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 12px;"></div>
      <button href-inappbrowser="/login" ion-ripple ion-ripple-color="#1500b8" class="button button-positive  button-block">LOG IN</button>
      <button ion-ripple ion-ripple-color="#808080" ui-sref="signup" class="button button-light  button-block button-outline">CREATE AN ACCOUNT</button>
    </form>
  </ion-content>
</ion-view>